@import 'mixins/css3'

$w: 50px
$h: 50px
$color: red
div#crosshair
  +border-radius(25px)
  border: 1px solid $color
  display: block
  height: $w
  overflow: hidden
  position: absolute
  width: $w
  div.horizontal
    border-top: 1px solid $color 
    height: 50%
    position: absolute
    top: 50%
    width: 100%
  div.vertical
    border-left: 1px solid $color 
    height: 100%
    left: 49%
    position: absolute
    width: 50%