#main
  %header
    %h1
      Edson Hilios
    %h2
      Open your mind, open your source
  %article
    %p
      Hello, im a 26 years old software engineer specialized in web development and innovation researcher with 10+ years of experience from São Paulo, Brazil. Currently I am working @
      %a{:href => 'http://www.hotwords.com', :target => :blank} HOTWords
  %nav
    %ul
      %li
        %a{:href => '/blog'}
          blog
      %li
        %a{:href => '/linkedin'}
          linked in
      %li
        %a{:href => '/github'}
          github
      %li
        %a{:href => '/twitter'}
          twitter
  %footer
    %ul
      %li.right
        %a{:href => '#', :'data-help' => 0}
          \-- help
      %li.right
        %a{:href => '#', :'data-debug' => 1}
          \-- debug
      %li +1
      %li Tweet this!
      %li To see in action call some friends
%a.ribbon{:href => 'http://github.com/hilios'}
  %img{:src => 'https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png', :alt => 'Fork me on GitHub'}
#container
  %p Loading...