%header
  %h6
    edson.hilios
  %nav
    %ul
      %li
        %a{:href => '#'} linked in
        %a{:href => '#'} twitter
        %a{:href => '#'} facebook
        %a{:href => '#'} git hub
%article
  = yield
%footer